.Element {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin-left: 1rem;
  padding: 0.5rem;
  font-size: 2rem;
  font-weight: bold;
  background-color: $colorElement;
  border-radius: $borderRadius;

  &.IsComparing {
    background-color: $colorComparing;
  }

  &.IsSwapping {
    background-color: $colorSwapping;
  }

  &.IsSorted {
    color: $colorNav;
    background-color: $colorSorted;
  }
}
