$colorBkg: #525b5d;
$colorNav: #072c36;

$colorTxt: #b7c6ba;
$colorTxtActive: whitesmoke;

$colorElement: #377de7;
$colorComparing: #e737e7;
$colorSorted: #69e024;
$colorSwapping: #e05024;

$colorChange: #dbba28;

$borderRadius: 0.3rem;
