@keyframes :global(slide-fade-in) {
  0% {
    opacity: 0;
    transform: translate3d(-100rem, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

@keyframes :global(slide-fade-out) {
  0% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
  100% {
    opacity: 0;
    transform: translate3d(200rem, 0, 0);
  }
}

@keyframes :global(slide-fade-in-from-right) {
  0% {
    opacity: 0;
    transform: translate3d(50rem, 0, 0);
  }
  100% {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}
