.Home {
  min-height: 101vh;
  padding: 2rem;

  .Button,
  .ChangeValueButton,
  .ReplayerButton,
  .Select {
    height: 4rem;
    margin-right: 1rem;
    font-size: 1.6rem;
    border-radius: $borderRadius;

    &:disabled {
      opacity: 0.4;
      cursor: none;
    }
  }

  .Button {
    width: 14rem;
  }

  .Sort {
    background-color: $colorComparing;
  }

  .ChangeValueButton {
    width: 4rem;
    background-color: $colorChange;
  }

  .ReplayerButton {
    width: 10rem;
    background-color: $colorElement;

    &.Pause {
      background-color: $colorSwapping;
    }

    &.Unpause {
      background-color: $colorSorted;
    }
  }

  .ActionTimeout {
    display: inline-block;
    width: 6rem;
    margin-right: 1rem;
    line-height: 2rem;
    color: $colorTxtActive;
    font-size: 1.6rem;
    text-align: center;
  }

  .Select {
    width: 14rem;
    padding-left: 1rem;

    &:focus {
      outline: none;
    }
  }

  .Info {
    height: 5rem;
    padding: 1rem 0;
    color: $colorTxtActive;
  }

  .Operations {
    display: inline-block;
    margin-left: 1rem;
  }
}
